.hero {
    width: 100%;
    height: 100vh;
    background: url("/ACAD_MMI/assets/media/hero-bg.jpg"), linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background-size: cover;
}

.container {
    margin: var(--marginY) var(--marginX);
}