<footer>

    <div class="footer">
        <div class="footer-content">
            <div class="footer-section about">
                <h1 class="logo-text"><span>Logo</span>Here</h1>
                <p>
                    De l'ombre à la lumière, votre projet révélé.
                </p>
                <div class="contact">
                    <span>        <i class="bi bi-phone-fill phone-icon"></i>
                      <a href="tel:+330632141688">+33 06 32 14 16 88</a></span>
                    <span><i class="fas fa-envelope"></i> &nbsp;
                      <a href="mailto:<EMAIL>">alteretcomm.contact@gmail.com<EMAIL></a></span>
                </div>
                <div class="socials">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <div class="footer-section links">

            </div>
            <div class="footer-section copyright">
                <p>Copyright &copy; 2024</p>
            </div>
        </div>
    </div>
</footer>
</body>

</html>