<!doctype html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title></title>
</head>
<header>
		<div>
      <div>
				<i class="bi bi-envelope-fill"></i>
        <a href="mailto:alteretcomm.contact@gmail.com">alteretcomm.contact@gmail.com</a>
      </div>
      <div>
        <i class="bi bi-phone-fill phone-icon"></i>
        <a href="tel:+330632141688">+33 06 32 14 16 88</a>
      </div>
    </div>


		
</header>
