nav {
    background-color: var(--secondary);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav .logo {
    width: 150px;
}
nav .logo img {
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: right;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: var(--primary);
}